.contact-form {
  margin-top: 15px;
}

h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.page-content {
  margin-top: 67px;
}

/*PROFILE PANEL*/
.panel-body {
  margin-left: 10px;
  margin-right: 10px;
}

.panel-body:last-child {
  border-bottom: none;
}

.panel-info .panel-image {
  display: inline-block;
  float: left;
  margin: 0 10px;
}

.panel-info {
  padding-top: 5px;
}

.panel-image {
  max-height: 150px;
  width: auto;
  border: 1px solid lightgrey;
}

.profile-thumbnail {
  max-height: 150px;
  width: auto;
}

.animal-profile-description {
  display: inline-block;
  max-width: 389px;
}

.animal-profile-image {
  display: inline-block;
}

.gallery-image {
  max-height: 184px;
  width: auto;
}

.thumbnail {
  margin-bottom: 0px;
  margin-top: 20px;
}

.adoption-button {
  margin-top: -7px;
  background-color: transparent;
}

.view-form-button {
  margin-bottom: 7px;
  margin-top: 21px;
}

/*Print Preview*/
.print-page-preview {
  margin-top: 57px;
}

.print-header-logo {
  max-height: 48px;
  margin-top: -8px;
  width:auto;
  float: right;
}

.print-page-header {
  margin-top: 19px;
}

.print-small-text {
  font-size: 40%;
}

.print-page-content>li>h4 {
  font-family: Verdana, Geneva, sans-serif;
}

.print-page-content>li>p {
  font-family: Verdana, Geneva, sans-serif;
}

/*FLEXBOX FOR LISTING PAGE*/
.animal-listing-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animal-listing-card {
  order: 1;
  flex-grow: 1;
}

.caption {
  text-align: center;
}

.caption>h3 {
  margin-top: 0px;
}

.uploader {
  border: 2px solid darkgrey;
  border-radius: 25px;
  max-width: 100%;
}

.uploader-table-headings>th:first-child {
  width: 33%;
}



@media screen and (max-width: 767px) {
  .google-map {
    height: 277px;
  }

  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 300px;
  }

  .contact-items {
    margin-top: 38px;
  }

  .form-received-text {
    font-size: 11px;
    margin-top: 3.5px;
  }

  .navbar-brand {
    margin-top: 4px;
  }

  .profile-image-block {
    text-align: center;
  }

  .uploader-action-button {
    float: left;
    margin-top: 3px;
  }
}

@media screen and (min-width: 768px) {
  .google-map {
    height: 277px;
  }

  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 300px;
  }

  .contact-items {
    position: relative;
  }

  .form-received-text {
    margin-top: 0px;
  }
}
