.contact-form {
  margin-top: 15px;
}

h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.page-content {
  margin-top: 67px;
}

.panel-body {
  border-bottom: 1px solid lightgrey;
  margin-left: 10px;
  margin-right: 10px;
}

.panel-body:last-child {
  border-bottom: none;
}

.panel-info .panel-image {
  display: inline-block;
  float: left;
  margin: 0 10px;
}

.panel-info {
  padding-top: 5px;
}

.panel-image {
  max-height: 154px;
  width: auto;
  border: 1px solid lightgrey;
}

.view-form-button {
  margin-bottom: 7px;
  margin-top: 21px;
}

/*Print Preview*/
.print-page-preview {
  margin-top: 57px;
}

.print-header-logo {
  max-height: 48px;
  margin-top: -8px;
  width:auto;
  float: right;
}

.print-page-header {
  margin-top: 19px;
}

.print-small-text {
  font-size: 40%;
}

.print-page-content>li>h4 {
  font-family: Verdana, Geneva, sans-serif;
}

.print-page-content>li>p {
  font-family: Verdana, Geneva, sans-serif;
}




@media screen and (max-width: 767px) {
  .google-map {
    height: 277px;
  }

  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 300px;
  }

  .contact-items {
    margin-top: 38px;
  }

  .form-received-text {
    font-size: 11px;
    margin-top: 3.5px;
  }

  .navbar-brand {
    margin-top: 4px;
  }

}

@media screen and (min-width: 768px) {
  .google-map {
    height: 277px;
  }

  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 300px;
  }

  .contact-items {
    position: relative;
  }

  .form-received-text {
    margin-top: 0px;
  }
}
