.contact-form {
  margin-top: 15px;
}

h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.page-content {
  margin-top: 71px;
}

/*PROFILE PANEL*/
.panel-body {
  margin-left: 10px;
  margin-right: 10px;
}

.panel-body:last-child {
  border-bottom: none;
}

.panel-info .panel-image {
  display: inline-block;
  float: left;
  margin: 0 10px;
}

.panel-info {
  padding-top: 5px;
}

.panel-image {
  max-height: 150px;
  width: auto;
  border: 1px solid lightgrey;
}

.profile-thumbnail {
  max-height: 150px;
  width: auto;
}

.animal-profile-description {
  display: inline-block;
  max-width: 389px;
}

.animal-profile-image {
  display: inline-block;
}

.gallery-image {
  max-height: 184px;
  width: auto;
}

.thumbnail {
  margin-bottom: 0px;
  margin-top: 20px;
}

.adoption-button {
  margin-top: -7px;
  background-color: transparent;
}

.view-form-button {
  margin-bottom: 7px;
  margin-top: 21px;
}

/*Print Preview*/
.print-page-preview {
  margin-top: 57px;
}

.print-header-logo {
  max-height: 48px;
  margin-top: -8px;
  width:auto;
  float: right;
}

.print-page-header {
  margin-top: 19px;
}

.print-small-text {
  font-size: 40%;
}

.print-page-content>li>h4 {
  font-family: Verdana, Geneva, sans-serif;
}

.print-page-content>li>p {
  font-family: Verdana, Geneva, sans-serif;
}

/*FLEXBOX FOR LISTING PAGE*/
.animal-listing-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animal-listing-card {
  order: 1;
  flex-grow: 1;
}

.caption {
  text-align: center;
}

.caption>h3 {
  margin-top: 0px;
}

/*UPLOADERS*/
.gallery-uploader-panel {
  margin-top: 20px;
}

.uploader-button {
  font-family: raleway;
  margin-top: 7px;
  font-family: raleway;
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}


.uploader-button:active,
.uploader-button.active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.form-group {
  max-width: 95%;
}


/*GALLERY THUMBNAIL*/

.gallery-image-delete {
  margin-top: 7px;
  font-family: raleway;
  border: 0;
  background: #990000;
  border-radius: 4px;
  box-shadow: 0 5px 0 #4d0000;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 4px 10px;
  transition: all .1s linear;
}

.gallery-image-delete:active,
.gallery-image-delete.active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

/*temp banner*/

.list-inline {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.banner.ng-scope {
  margin-top: 79px;
  text-align: center;
}

body > ui-view > div.banner.ng-scope > ul {
  max-height: 200px;
  position: relative;
  width: auto;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.banner.ng-scope > ul > li {
  position: relative;
  height: 200px;
  padding: 0;
}

.banner.ng-scope > ul > li > img {
  float: left;
  margin-right: 0px;
  border-radius: 5px;
  max-height: 200px;
}

.banner.ng-scope > ul > li > h2 {
  margin-top: 25px;
  font: bold 30px Helvetica, Arila, sans-serif;
  color: #000;
}

.banner.ng-scope > ul > li > p {
  font: 13px/1.5 Georgia, Times, Serif;
  color: #757575;
}


/*Landing Content*/

.selling-points {
  position: relative;
}

.point {
  position: relative;
  padding: 2rem;
  text-align: center;
  opacity: 1;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
}

.point .point-title {
  font-size: 1.25rem;
}

.ion-image {
  color: rgb(233,50,117);
  font-size: 5rem;
}

@media (min-width: 64rem) {
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}



/*SMALL SCREEN*/
@media screen and (max-width: 767px) {
  .google-map {
    height: 277px;
  }

  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 300px;
  }

  .contact-items {
    margin-top: 38px;
  }

  .form-received-text {
    font-size: 11px;
    margin-top: 3.5px;
  }

  .navbar-brand {
    margin-top: 4px;
  }

  .profile-image-block {
    text-align: center;
  }

  .uploader-action-button {
    float: left;
    margin-top: 3px;
  }

  .ion-chevron-left{
    display: inline;
    font-size: 2em;
    color: dimgrey;
  }

  .ion-chevron-right {
    display: inline;
    float: right;
    font-size: 2em;
    color: dimgrey;
  }

  .landing-image-thumb {
    display: inline;
    max-width: 84px;
    margin-bottom: 5px;
  }

  .gallery-image-delete {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .google-map {
    height: 277px;
  }

  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 300px;
  }

  .contact-items {
    position: relative;
  }

  .form-received-text {
    margin-top: 0px;
  }
}
