<div class="container page-content">
  <div class="panel panel-default" ng-repeat="adoption in adoptions">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="view-form-button">
          <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">View {{adoption.desired_animal}}'s Form</button>
        </span>
        <span class="pull-right form-received-text">received: {{adoption.created_at | date:'medium'}}</span>
      </h4>
    </div>
    <div uib-collapse="isCollapsed">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Adopter Name</h4>
            <p class="list-group-item-text">{{ adoption.name }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Adopter Email</h4>
            <p class="list-group-item-text">{{ adoption.email }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Over 18</h4>
            <p class="list-group-item-text">{{ adoption.age }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Desired Animal</h4>
            <p class="list-group-item-text">{{ adoption.desired_animal }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Street Address</h4>
            <p class="list-group-item-text">{{ adoption.street_address }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Mailing Address</h4>
            <p class="list-group-item-text">{{ adoption.mailing_address }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">City</h4>
            <p class="list-group-item-text">{{ adoption.city }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">State</h4>
            <p class="list-group-item-text">{{ adoption.state }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Postal Code</h4>
            <p class="list-group-item-text">{{ adoption.postal_code }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Home Phone</h4>
            <p class="list-group-item-text">{{ adoption.home_phone }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Cell Phone</h4>
            <p class="list-group-item-text">{{ adoption.cell_phone }}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Work Phone</h4>
            <p class="list-group-item-text">{{ adoption.work_phone }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
