<div class="container">
  <h1>Adoption Form</h1>

  <div class="adoption-form-body">
      <form class="form">
        <h6>Your name</h6>
        <input type="text" ng-model="adopterName" class="form-control" placeholder="Enter Name" />
        <h6>Animal name</h6>
        <input type="text" ng-model="selectedAnimal" class="form-control" placeholder="Animal Name" />
        <div class="adoption-form-button">
            <button class="btn btn-primary" type="button" ng-click="sendAdoptionForm()">Submit</button>
        </div>
      </form>
  </div>


</div>
