<div class="container well">
  <form>
    <fieldset class="form-group">
      <label>Name</label>
      <input type="text" class="form-control contact-name" placeholder="Enter your name">
    </fieldset>
    <fieldset class="form-group">
      <label>Email</label>
      <input type="email" class="form-control contact-email" placeholder="Enter your email">
    </fieldset>
    <fieldset class="form-group">
      <label>Message</label>
      <input type="text-area" class="form-control contact-message" placeholder="Go ahead, let it all out">
    </fieldset>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>
