

<!-- BANNER -->
<div id="main" class="banner">

  <ul class="list-inline">
    <li ng-repeat="slide in slides">
      <img ng-src="{{slide.large_url}}">
    </li>
  </ul>

</div>

<div class="container page-content">
  <div ng-cloak ng-show="user.signedIn" class="panel panel-default landing-gallery-uploader-panel">
    <div class="panel-heading landing-gallery-uploader-heading" role="tab">
      <h4 class="panel-title landing-gallery-uploader-title">
      <button class="uploader-button" type="button" data-toggle="collapse" data-target="#landing-gallery-uploader-collapse">
        Update Gallery
      </button>
      </h4>
    </div>
    <div id="landing-gallery-uploader-collapse" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body landing-gallery-uploader-body">
        <form name="form">
          <input type="file" ngf-select ng-model="files" name="files" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-multiple="true"></input>
            <ul>
              <li ng-repeat="f in files">{{f.name}}</li>
            </ul>
            <button class="btn btn-default" type="submit" ng-click="landingGalleryPicSubmit()">Upload</button>
        </form>
      </div>

      <div class="landing-gallery-thumb-container container">
        <span class="landing-thumbs" ng-repeat="slide in slides">
          <img class="landing-image-thumb" ng-src="{{slide.thumb_url}}" />
          <button ng-show="user.signedIn" class="gallery-image-delete" ng-click="deletePic(slide)"><i class="glyphicon glyphicon-remove"></i></button>
        </span>
      </div>
    </div>
  </div>

  <section class="landing-points container clearfix">
     <div class="point column third">
         <span class="ion-image"></span>
         <h5 class="point-title">Help These Animals</h5>
         <p class="point-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
     </div>
     <div class="point column third">
         <span class="ion-image"></span>
         <h5 class="point-title">Adopt Today</h5>
         <p class="point-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
     </div>
     <div class="point column third">
         <span class="ion-image"></span>
         <h5 class="point-title">Support Our Rescue</h5>
         <p class="point-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
     </div>
 </section>
</div>
