<div class="container page-content">
  <div class="panel panel-default">
    <div class="panel-heading">{{ animal.name }}'s Profile<a ui-sref="adoption({slug: animal.slug})" class="btn btn-default pull-right adoption-button">Adopt {{animal.name}}</a>
</div>
    <div class="panel-body">
      <div class="panel-body profile-image-block">
        <div class="animal-profile-description">
          <p class="animal-description">Nulla vitae elit libero,
            a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
            Nullam id dolor id nibh ultricies vehicula ut id elit.
          </p>
        </div>
        <div class="animal-profile-image">
          <a ng-href=URL_PRODUCTION + "{{animal.large_url}}" >
            <img class="profile-thumbnail" ng-src=URL_PRODUCTION + "{{animal.medium_url}}" />
          </a>
        </div>
      </div>
    </div>
    <ul class="list-group animal-profile-stats">
      <li class="list-group-item">Breed: {{ animal.breed }}</li>
      <li class="list-group-item">Sex: {{ animal.sex }}</li>
      <li class="list-group-item">DOB: {{ animal.dob }}</li>
    </ul>
  </div>


<!-- Profile Uploader -->
<div ng-show="user.signedIn" class="panel panel-default profile-uploader-panel">
  <div class="panel-heading profile-uploader-heading" role="tab">
    <h4 class="panel-title profile-uploader-title">
    <button class="uploader-button" type="button" data-toggle="collapse" data-target="#profile-uploader-collapse">
      Update Profile Pic
    </button>
    </h4>
  </div>
  <div id="profile-uploader-collapse" class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body profile-uploader-body">
      <form name="form">
        <input type="file" class="btn btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="20MB">Select</input>
        <button class="btn btn-default" type="submit" ng-click="profilePicSubmit()">Upload</button>
      </form>
    </div>
  </div>
</div>



<!-- Gallery Photos -->
<div class="container">
  <div class="animal-gallery-card col-sm-6 col-md-4" ng-repeat="photo in photos">
    <div class="thumbnail">
      <a ng-href=URL_PRODUCTION + "{{photo.large_url}}" >
        <img class="gallery-image" ng-src=URL_PRODUCTION + "{{photo.medium_url}}" />
      </a>
      <button ng-show="user.signedIn" class="gallery-image-delete" ng-click="deletePic(photo)"><i class="glyphicon glyphicon-remove"></i>Remove</button>
    </div>
  </div>
</div>

<!-- Gallery Uploader -->
<div ng-show="user.signedIn" class="panel panel-default gallery-uploader-panel">
  <div class="panel-heading gallery-uploader-heading" role="tab">
    <h4 class="panel-title gallery-uploader-title">
    <button class="uploader-button" type="button" data-toggle="collapse" data-target="#gallery-uploader-collapse">
      Update Gallery
    </button>
    </h4>
  </div>
  <div id="gallery-uploader-collapse" class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body gallery-uploader-body">
      <form name="form">
        <input type="file" ngf-select ng-model="files" name="files" ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ngf-max-size="20MB" ngf-multiple="true"></input>
          <ul>
            <li ng-repeat="f in files">{{f.name}}</li>
          </ul>
          <button class="btn btn-default" type="submit" ng-click="galleryPicSubmit()">Upload</button>
      </form>
    </div>
  </div>
</div>




</br>

</div>

</br>
</br>
